body{
  background: whitesmoke;
}

.separador{
  visibility: hidden;
}

.background{
  background: #719936;
}

.btn-home{
  width: 250px;
}

.card-componente{
  margin-top: 100px;
  height: 550px;
}

.card-componente .card-body .card-title{
  margin-top: 180px;
}

.card-componente_2{
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-componente_2 .card-body .card-title{
  margin-top: 30px;
}